{% extends 'base.html' %}

{% include 'navbar.html' %}
{% block content %}

<div class="container">
    <br>
    <form action="/" enctype="multipart/form-data" method="post">
        <div class="mb-3 row form-group">
            <select class="form-select form-select-solid" name="time">
                <option value="24">24 hours</option>
                <option value="1">1 week</option>
                <option value="30">30 days</option>
            </select>
            <div class="col-md-9">
                <input type="checkbox" name="one_dl">
                <label for="one_dl">Delete at first download?</label>
            </div>
        </div>
        </br></br>
        <div class="mb-3 row form-group">
            <label for="fpassword">Password : </label>
            <div class="col-md-9">
                <input type="password" class="form-control col-md-3" name="fpassword" placeholder="Password">
            </div>
        </div>
		{{ dropzone.create() }}
        <button type="submit" id="submit" class="btn btn-secondary">Upload</button>
    </form>

    {{ dropzone.load_js() }}
    {{ dropzone.config() }}

    {% if download_url %}
    <hr>
    <a href="{{ download_url }}">{{ download_url }}</a>
    {% endif %}
</div>
{% endblock %}
